<h1>Listing grades</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Grade type</th>
    <th>Gundam model</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grades.each do |grade| %>
  <tr>
    <td><%= grade.id %></td>
    <td><%= grade.grade_type %></td>
    <td><%= grade.gundam_model_id %></td>
    <td><%= link_to 'Show', grade %></td>
    <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
    <td><%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grade', new_grade_path %>
