<h1 class="contact_header">Contact Information</h1>
<div class="contactus">
  <p>
    <span>Address:</span>
    <%= @contact.address %>
  </p>
  
  <p>
    <span>City:</span>
    <%= @contact.city %>
  </p>
  
  <p>
    <span>Province:</span>
    <%= @contact.province_id %>
  </p>
  
  <p>
    <span>Postal Code:</span>
    <%= @contact.postal_code %>
  </p>
  
  <p>
    <span>Phone number:</span>
    <%= @contact.phone_number %>
  </p>
</div>