<%= form_for(@gundam_models_to_grade) do |f| %>
  <% if @gundam_models_to_grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gundam_models_to_grade.errors.count, "error") %> prohibited this gundam_models_to_grade from being saved:</h2>

      <ul>
      <% @gundam_models_to_grade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gundam_model_id %><br />
    <%= f.number_field :gundam_model_id %>
  </div>
  <div class="field">
    <%= f.label :grade_id %><br />
    <%= f.number_field :grade_id %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
