<h1>Listing gundam_models_to_grades</h1>

<table>
  <tr>
    <th>Gundam model</th>
    <th>Grade</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gundam_models_to_grades.each do |gundam_models_to_grade| %>
  <tr>
    <td><%= gundam_models_to_grade.gundam_model_id %></td>
    <td><%= gundam_models_to_grade.grade_id %></td>
    <td><%= gundam_models_to_grade.price %></td>
    <td><%= gundam_models_to_grade.quantity %></td>
    <td><%= link_to 'Show', gundam_models_to_grade %></td>
    <td><%= link_to 'Edit', edit_gundam_models_to_grade_path(gundam_models_to_grade) %></td>
    <td><%= link_to 'Destroy', gundam_models_to_grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gundam models to grade', new_gundam_models_to_grade_path %>
