<%= form_for(@gundam_model) do |f| %>
  <% if @gundam_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gundam_model.errors.count, "error") %> prohibited this gundam_model from being saved:</h2>

      <ul>
      <% @gundam_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :grade_id %><br />
    <%= f.number_field :grade_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
