<div class="show_case">
  <div class="image_border">
    <%= image_tag product.image, :size => "300x200" %>
  </div>
  <h1><%= product.name %></h1> 
  <div class="show_info">
    <span class="l_bold">Description: </span>
    <span><%= product.description %></span><br/>
    <span class="l_bold">Price:</span>
    <span><%= product.price.to_f %></span><br/>
    <span class="l_bold">Quantity:</span>
    <span><%= product.stock_quantity %></span><br/>
    <span class="l_bold">Category:</span>
    <span><%= product.category.name %></span><br/>
  </div>
</div>